* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --background-url: url(./assets/black.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(160, 160, 160, 0.315);
  --surface-color-hover: rgba(0, 0, 0, 0);
  --highlight-color-light: rgba(255, 255, 255, 0.2);
  --swith-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: rgb(0, 0, 0);
  --background-url: url(./assets/light.jpg);
  --stroke-color: rgb(0, 0, 0);
  --surface-color: rgba(0, 0, 0, 0.521);
  --surface-color-hover: rgba(255, 255, 255, 0.315);
  --highlight-color-light: rgba(0, 0, 0, 0.336);
  --swith-url: url(./assets/sun.svg)
}

body {
  background: var(--background-url) no-repeat top center/cover;
}
body * {
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color);
}
#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*profile*/

#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/*swith*/
#swith{
  position: relative;
  width: 64px;
  margin: 4px auto;

}
#swith button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: white var(--swith-url) center no-repeat;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  
}
#swith span {
  display: block;
  width: 64px;
  height: 24px;
  /* surface-color-light-mode */
background: var(--surface-color);
/* stroke-color-light-mode */
border: 1px solid var(--stroke-color);
backdrop-filter: blur 4px;
border-radius: 9999px;
}

.light #swith button {
  right: 0;
  left: initial;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  text-decoration: none;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.5s;
}
/*pseudo-selector*/
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: 0.5s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color-light);
}
footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
